body {
	background-color : #f9f7ef;
	font-family: 'Open Sans', sans-serif;
}

/* navbar */

.navbar-nav>li {
    padding-left: 5px;
}

.navbar-nav li a {
 	line-height: 40px;
}

.navbar-nav>li.active>a, 
.navbar-nav>li.active>a:hover,
.navbar-nav>li.active>a:focus,
.navbar-nav>li>a:hover {
	background-color: #ff8100;
	color: white;
}

.navbar-nav>li>a {
    color: #555;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto';    
    font-size: 13px;
    transition: all 0.2s ease-in-out;
}

.pk-navbar {
	background-color : #f9f7ef;
	-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);	        
}

.pk-logo-navbar {
	transition: all 0.2s ease-in-out;
   
}

.pk-logo-navbar img{
    height: 40px;
    width : 200px;
    margin-top: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }

    .pk-navbar-menu {
        width: 98%;
        margin-right: 2px;
    }
}
@media (max-width: 991px) {

    .pk-logo-navbar img{
        display: block;
        margin : 5px auto;
    }
    
    #custom-search-input {
        margin-left: 2px;
        margin-top: 10px !important;
    }

    .navbar-toggle {
        margin-top: 10px;
        margin-right: 2px;
    }

    .navbar-collapse {
        padding-left: 2px !important;
    }

    .pk-navbar-menu {
        width: 98%;
        margin-right: 2px;
    }
    .pk-navbar-menu li{
        width: 100%;
    }

    .navbar-nav>li {
       padding-left: none !important;
       margin: 1px 2px;
    }

    .navbar-nav li a {
        line-height: 20px;
    }    
}
.pk-heading-navbar {
	padding: 10px;
}



#custom-search-input {
        margin-top: 18px;
        transition: all 0.2s ease;
    }
 
#custom-search-input .search-query {
        padding-right: 3px;        
        padding-left: 3px;        
        /* IE7-8 doesn't have border-radius, so don't indent the padding */ 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
#custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#ff8100;
    }
 
.search-query:focus + button {
        z-index: 3;   
    }
.icon-bar {
     background-color: #ff8100;    
} 
.navbar-toggle {
   border-color: #ff8100;  
}

/* banner */
.pk-banner-list-videos {
	height: 250px;
	background-color: #fbb747;
    text-align: center;
}

.pk-banner-list-videos h1{
    padding-top: 100px;
    color: white; 
    font-size: 27px;   
}

.pk-banner-list-videos p{
    padding-top: 20px;
    color: white; 
    font-size: 19px;
    line-height: 28px;
    font-weight: 300;   
}

/* video-list */
.wrapsemibox {

   max-width: 1200px;
margin: 0px auto;
background: #fff;
margin-top: -40px;
box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
z-index: 1000;
position: relative;
margin-bottom: -40px;
padding-bottom: 40px;
border-bottom: medium #ccc;
padding-top: 0;
}

.semiboxshadow {
    display: block;
    padding-bottom: 40px;
}

.boxcontainer {
    border: 1px solid #ededed;
    border-bottom:  double medium #ececec;
    background: #fff;
    font-size: 13px;
    text-align: center;
    transition: border 500ms ease-out;
    -webkit-transition: border 500ms ease-out;
    -moz-transition: border 500ms ease-out;
    -o-transition: border 500ms ease-out;
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.boxcontainer img{
    position: relative;
    max-width: 100%;
}

.boxcontainer h1 {
    font-size: 13px;
    line-height: 1;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
}

.boxcontainer p {
    margin-bottom: 10px;
    color: #666;
    padding: 0px 10px;
}

.pk-filter-button button {
    float: left;
    background-color : #ff8100;
}

/* Footer */
/* ================ FOOTER ================== */
.footer {
    padding-top: 50px;
    padding-bottom: 30px;
    background-color: #262626;
    border-top: 1px solid #3a3a3a;
    border-bottom: 1px solid #333333;
    font-size: 14px;
    color: #999999;
}

.footer .title {
    color : gray;
    font-weight: 500;
    padding-bottom: 15px;
}

.footer .social-links {
    list-style: none;
    padding-left: 0;
    padding-bottom: 15px;
}

.footer .social-links  li {
    display: inline;
}

.footer .social-links  .social {
    max-width: 48px;
    height: auto;
    margin-right: 10px;
    margin-top: 15px;
}

.footer .social-links  #read-more {
    padding-top: 25px;
}

.footer .footer-content .link {
    list-style : none;
    padding-left: 0;
    /* padding-top: 15px; */
    /* padding-bottom: 7px; */
}
.footer .footer-content .link li{
    padding-bottom: 7px;
    /* padding-bottom: 7px; */
}

.footer .footer-content .link a{
    color: gray;
    font-weight: 500;
    text-transform: uppercase;
    /* padding-bottom: 7px; */
    font-size: 12px;
}
.footer .footer-content .link a:hover{
    color: white;
    text-decoration: none;
    /* padding-bottom: 7px; */
}

.footer .stylish-input-group .input-group-addon{
    background-color: rgba(0, 0, 0, 0.3);
    border-color: #292929;
    box-shadow: inset 0 2px 3px rgba(0,0,0, .55);
    /* border-left: none; */
}
.footer .stylish-input-group .form-control{
    border-right: none;
    box-shadow: inset 0 2px 3px rgba(0,0,0, .55);
    border-color: #292929;
    background-color: rgba(0, 0, 0, 0.3);
    color: #999999;
}
.footer .stylish-input-group button{
    border:0;
    background:transparent;
}

.footer .btn-submit {
    margin-top: 7px;
}
.footer .btn-submit:hover {
   background-color:#E84C3D ;
    color : #fff !important;
    border-color : #cd3c2e;
}