body {
	background-color : #f9f7ef;
	font-family: 'Open Sans', sans-serif;
}

/* navbar */

.navbar-nav>li {
    padding-left: 5px;
}

.navbar-nav li a {
 	line-height: 40px;
}

.navbar-nav>li.active>a, 
.navbar-nav>li.active>a:hover,
.navbar-nav>li.active>a:focus,
.navbar-nav>li>a:hover {
	background-color: #ff8100;
	color: white;
}

.navbar-nav>li>a {
    color: #555;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Roboto';    
    font-size: 13px;
    transition: all 0.2s ease-in-out;
}

.pk-navbar {
	background-color : #f9f7ef;
	-webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
   -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12);	        
}

.pk-logo-navbar {
	transition: all 0.2s ease-in-out;
   
}

.pk-logo-navbar img{
    height: 40px;
    width : 200px;
    margin-top: 15px;
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }
    .navbar-collapse.collapse.in {
        display: block !important;
    }
    .navbar-header .collapse, .navbar-toggle {
        display:block !important;
    }
    .navbar-header {
        float:none;
    }

    .pk-navbar-menu {
        width: 98%;
        margin-right: 2px;
    }
}
@media (max-width: 991px) {

    .pk-logo-navbar img{
        display: block;
        margin : 5px auto;
    }
    
    #custom-search-input {
        margin-left: 2px;
        margin-top: 10px !important;
    }

    .navbar-toggle {
        margin-top: 10px;
        margin-right: 2px;
    }

    .navbar-collapse {
        padding-left: 2px !important;
    }

    .pk-navbar-menu {
        width: 98%;
        margin-right: 2px;
    }
    .pk-navbar-menu li{
        width: 100%;
    }

    .navbar-nav>li {
       padding-left: none !important;
       margin: 1px 2px;
    }

    .navbar-nav li a {
        line-height: 20px;
    }    
}
.pk-heading-navbar {
	padding: 10px;
}



#custom-search-input {
        margin-top: 18px;
        transition: all 0.2s ease;
    }
 
#custom-search-input .search-query {
        padding-right: 3px;        
        padding-left: 3px;        
        /* IE7-8 doesn't have border-radius, so don't indent the padding */ 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
 
#custom-search-input button {
        border: 0;
        background: none;
        /** belows styles are working good */
        padding: 2px 5px;
        margin-top: 2px;
        position: relative;
        left: -28px;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        color:#ff8100;
    }
 
.search-query:focus + button {
        z-index: 3;   
    }
.icon-bar {
     background-color: #ff8100;    
} 
.navbar-toggle {
   border-color: #ff8100;  
}

/* banner */
.pk-banner-list-videos {
	height: 250px;
	background-color: #fbb747;
}